.contact {
    width: 800px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.contact__title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #6b5b53;
}

.contact__subtitle {
    font-size: 22px;
    margin-bottom: 40px;
    color: #6b5b53;
}

.contact-form {
    text-align: left;
}

.contact-form__group {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin-bottom: 20px;
}

.contact-form__group label {
    display: block;
    color: #6b5b53;
    text-align: left;
}

.contact-form__group--textarea {
    align-items: start;
}

.required {
    color: red;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form__name {
    display: flex;
    gap: 10px;
}

.contact-form__name input {
    width: 50%;
}

.contact-form__radio {
    display: flex;
    gap: 30px;
}

.contact-form__radio label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    white-space: nowrap;
}

.contact-form__tel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-form__tel input {
    width: 30%;
    align-items: center;
    text-align: center;
}

.contact-form__button {
    text-align: center;
    margin-top: 30px;
}

.contact-form__button button {
    padding: 10px 40px;
    background-color: #6b5b53;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.contact-form__button button:hover {
    opacity: 0.8;
}

.contact-form__error {
    color: #d8000c !important;
    font-size: 16px;
    margin-top: 5px;
}