/* ================================
   レイアウト
================================ */
body {
    margin: 0;
    font-family: serif;
    background-color: #ffffff;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
}

.wrapper__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.wrapper__title {
    font-size: 28px;
    color: #6b5b53;
}


.wrapper__content {
    min-height: calc(100vh - 80px);
}

/* ================================
   ボタン
================================ */
.wrapper__buttons {
    position: absolute;
    right: 200px;
}

.btn--primary {
    background-color: #dbdbdb;
    color: #adadad;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.btn--secondary {
    background-color: #dbdbdb;
    color: #555;
}

.btn:hover {
    opacity: 0.8;
}

/* ================================
   エラーメッセージ
================================ */

.msg--error {
    color: #d8000c !important;
    font-size: 16px;
    margin-top: 5px;
}