/* ================================
   Layout
================================ */
body {
    margin: 0;
    font-family: serif;
    background-color: #ffffff;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
}

.wrapper__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.wrapper__title {
    font-size: 28px;
    color: #6b5b53;
    margin-bottom: 20px;

    padding-bottom: 10px;
    text-align: center;
}

/* ================================
   Button (共通部品化)
================================ */
.btn {
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}

.btn--primary {
    background-color: #6b5b53;
    color: #ffffff;
}

.btn--secondary {
    background-color: #dbdbdb;
    color: #555;
}

.btn:hover {
    opacity: 0.8;
}